DB='Example'
DB_USER='Database user'
DB_PASSWORD='Database password'
DB_HOST='Database HOST'
DB_PORT='Database PORT'
SECRET_KEY='
from django.core.management.utils import get_random_secret_key
secret_key = get_random_secret_key()
print(secret_key)'

EMAIL_HOST_USER='Email from where you will send messages'
EMAIL_HOST_PASSWORD='The password for the email you will be sending messages from'